.toolbar {
  width: 70px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.tool-btn.active {
  background-color: #0d6efd !important;
  color: white !important;
}

@media (max-height: 500px) {
  .toolbar {
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 20px 0 20px;

    width: 40%;
    height: 60px;

    display: flex;
    flex-direction: row !important;
    z-index: 10;
  }
}

@media (max-height: 180px) {
  .toolbar {
    display: none !important;
  }
}
