.card {
  border: 1px solid #ddd;
  background-color: #fff;
}

.form-control,
.form-select {
  border-radius: 8px;
}

button {
  border-radius: 8px;
}

.btn-primary {
  font-weight: 500;
}

.btn-outline-danger {
  font-weight: 500;
}

hr {
  opacity: 0.3;
}
